/* *{
    margin: 0;
    padding: 0;
  } */

/* * 

.yellow {
  color: yellow;
}

#span {
  background: blue;
}

.red {
  color: red;
}

.thin {
  font-weight: 100;
}

.border {
  border: 1px solid black;
}

#form {
  background-color: #e3e3e3;
}

#name {
  border: none;
}

.paragraph {
  color: blue;
}

.span {
  color: red;
}

li {
  background: red;
}

ul li.active {
  background: yellow;
} */
/* 
h1,
h2 {
  border: 1px solid red;
  padding: 10px;
}

h1 {
  color: green;
}

h2 {
  color: blue;
} */

/* 
div > p {
    color: orange;
} */

/* .mydiv {
  height: 100px;
  width: 100px;
  background: red;
  position: relative;
}

.mydiv::after {
  content: "";
  position: absolute;
  right: -20px;
  top:0;
  height: 20px;
  width: 20px;
  background: green;
} */

/* .list > li:first-child {
    background: cyan;
} */

/* .listitem:first-child {
    background: green;
} */

/* .listitem {
    background: yellow;
}


.listitem:last-child {
    background: blue;
}

.listitem:hover {
    background: red;
} */

/* .listitem:last-child:hover {
    background: purple;
} */

.listitem:not(.active) {
  background: blue;
}

/* .myinput {
    border:0;
    outline: none;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%);
} */
/* 
.mytext {
    position: relative;
}

.mytext::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: black;
} */

.spacing {
  border: 1px solid black;
  height: 200px;
  width: 200px;
  background: green;
position: relative;
  
  /* padding: 10px;
  padding: 10px 20px; yuxari/ashagi sag/sol
  padding: 10px 15px 20px 25px;  */
  /* padding: 20px 15px 10px; yuxari, sag/sol, ashagi */
  /* padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px; */

  /* margin: 10px; 
  margin: 10px 20px; 
  margin: 10px 15px 20px 25px; 
  margin: 20px 15px 10px; 
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px; */
}

.innerspacing {
    height: 100px;
    width: 100px;
    background: red;
    padding: 10px;
    margin: 10px;
}

.innerspacing span {
    display: block;
    margin: auto;
}